<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>LeaveManagementSystem</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AllocationServlet</display-name>
		<servlet-name>AllocationServlet</servlet-name>
		<servlet-class>com.tcs.ilp84.LMS.action.AllocationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AllocationUpdateServlet</display-name>
		<servlet-name>AllocationUpdateServlet</servlet-name>
		<servlet-class>com.tcs.ilp84.LMS.action.AllocationUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AllocationReadServlet</display-name>
		<servlet-name>AllocationReadServlet</servlet-name>
		<servlet-class>com.tcs.ilp84.LMS.action.AllocationReadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AllocationDeleteServlet</display-name>
		<servlet-name>AllocationDeleteServlet</servlet-name>
		<servlet-class>com.tcs.ilp84.LMS.action.AllocationDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ControllerServlet</display-name>
		<servlet-name>ControllerServlet</servlet-name>
		<servlet-class>
		com.tcs.ilp84.LMS.action.ControllerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MegawareServlet</display-name>
		<servlet-name>MegawareServlet</servlet-name>
		<servlet-class>
		com.tcs.ilp84.LMS.action.MegawareServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllocationServlet</servlet-name>
		<url-pattern>/AllocationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllocationUpdateServlet</servlet-name>
		<url-pattern>/AllocationUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllocationReadServlet</servlet-name>
		<url-pattern>/AllocationReadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllocationDeleteServlet</servlet-name>
		<url-pattern>/AllocationDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>/ControllerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MegawareServlet</servlet-name>
		<url-pattern>/MegawareServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
